@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Black+Ops+One&family=DM+Serif+Text&family=Great+Vibes&family=Neucha&family=Roboto:ital,wght@0,500;0,700;1,500;1,700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    overflow-x: hidden;
	overflow-y: scroll;
	width: 100vw;
}

body {
    overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;	
	background-color: #121111;
	width: 100vw;
}

@media screen and (min-width: 1920px) {
	.my-container {
		width: 1920px;
	}
}

section {
	margin-top: 60px;
}

button, 
button:active, 
button:focus {
    outline: none;
}

ul {
	padding-inline-start: 0;
}

.popover {
	background-color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 30px;
	max-width: 1018px;
}


.header_form_answer {
	display: none;
	width: 150px;
	height: 50px;
	font-size: 14px;
	color: #D1D1D1;
}

.services_form_answer {
	display: none;
	width: 150px;
	height: 50px;
	font-size: 14px;
	color: #D1D1D1;
}

.contact_form_answer {
	display: none;
	width: 250px;
	height: 50px;
	font-size: 14px;
	color: #D1D1D1;
}

.i_true{
    background: #66C341;
    display: block;
    border-radius: 3px;
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    margin: 10px 0 0 0;
}

.i_false{
    background: #C34141;
    display: block;
    border-radius: 3px;
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    margin: 10px 0 0 0;
}

.popover-body {
	padding: 40px 25px;
	color: #F2F1F1;
}

.header_modal_header_title, .header_modal_form_body p a, 
.form_answer, .contact_form_answer, h2, h3, .info_body_card_text p, 
.header_menu ul li a, .header_text_below, .services_gallery_text ul li p,
.services_modal_thanks p, h4, .info_modal_text_left p, 
.info_modal_text_right p, .info_modal_text_right a,
.info_modal_body_button a, .project_slide p, h6,
.process_slide_text ul li p, .process_slide_text_sub, .process_slide_text_2,
.maintenance_text_sub, .maintenance_text_wrap ul li p,
.maintenance_btn_wrap p, h1 {
	font-family: 'Roboto';
	font-weight: 500;
}

.services_gallery_button, .projects_header_text p, .maintenance_btn {
	font-family: 'Roboto';
	font-weight: 400;
}

.header_top button, .header_text_below_button_wrap, .section_title_block p, 
.info_section_title_block p, .info_body_title p, .info_body_button, 
.services_section_title_block p, .services_gallery_controls ul li,
.services_gallery_text span, .projects_section_title_block p,
.process_controls_inner li, .process_slide_text_header,
.process_section_title_block p, .maintenance_section_title_block p,
.maintenance_text_header, .contact_section_title_block p,
.contact_text p, .img_404 a {
	font-family: 'Neucha', sans-serif;
	font-weight: 400;
}

::-webkit-scrollbar {
	width: 2px;
	background-color: #121111;
}

::-webkit-scrollbar-thumb {
    background-color: #121111;
}

::-webkit-scrollbar-track {
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #454444;
}

/*Главная*/

header {
	width: 100vw;
	height: 100vh;
}

.header_icons_mobile {
	display: none;
}

.header_video {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -1;
}

.header_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}

.header_top img {
	padding-left: 26px;
}

.header_top button {
	width: 273px;
	height: 72px;
	margin-right: 24px;
	border: 1px solid #484848;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px black;
	background: transparent;
	font-size: 28px;
	text-decoration: none;
	list-style-type: none;
	color: black;
	text-align: center;
	border: 1px solid #484848;
	box-sizing: border-box;
}

.header_top button:hover {
	background: #E8EB0E;
}

.header_modal_header {
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
}

.header_modal_header_title {
	font-size: 30px;
	color: #D1D1D1;
}

.header_modal_body {
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
}

.header_modal_form_body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.header_modal_form_body input,textarea {
	width: 400px;
	background-color: transparent;
	margin-bottom: 30px;
	color: #D1D1D1;
}

.header_modal_form_body input {
	border-bottom: 1px solid #F5F5F5;
	border-top: none;
	border-left: none;
	border-right: none;
}

.header_modal_form_body textarea {
	border: 1px solid #AAAAAA;
	box-sizing: border-box;
}

.header_modal_form_body p {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
	margin-left: 100px;
	color: #D1D1D1;
}

.header_modal_form_body p a {
	font-size: 14px;
	color: #D1D1D1;
	text-decoration: none;
}

.header_modal_form_body_button {
	width: 192px !important;
	height: 46px !important;
	border: 1px solid #AAAAAA !important;
	box-sizing: border-box !important;
	margin-left: 210px;
}

.header_modal_form_body_button:hover {
	background: #A1A1A1;
}

.header_body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 120px;
	padding: 0 40px;
}

.header_menu_wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header_menu_line {
	width: 2px;
	height: 400px;
	border: 1px solid #000;
}

.header_menu ul li {
	list-style-type: none;
	padding: 20px 0 0 40px;
}

.header_menu ul li a {
	text-decoration: none;
	color: #000;
	font-size: 30px;
	line-height: 35px;
}

.header_menu ul li a:hover {
	color: #FCFF00;
}

.header_text {
	display: flex;
	flex-direction: column;
	color: #E1DDDD;
	text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.header_text_line {
	width: 1100px;
	height: 1px;
	border: 1px solid rgba(255, 250, 250, 0.49)
}

.header_text_below {
	width: 856px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	color: #E1DDDD;
	font-size: 20px;
	text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}


/*Кнопка с кружком и линией*/
.header_text_below_button_wrap {
	position: relative;
	font-size: 25px;
}

.header_text_below_ellipse {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #FCFF00;
	position: absolute;
	bottom: 9px;
	left: 14px;
	z-index: -1;
	transition: background 1s ease-in;
}

.header_text_button {
	width: 231px;
	height: 40px;
	background: transparent !important;
	border: none;
	color: #E1DDDD;
	transition: color 1s ease-in;
	text-decoration: none;
}

.header_text_button a {
	color: #E1DDDD;
	transition: color 1s ease-in;
	text-decoration: none;
}

.header_text_below_line {
	height: 2px;
	width: 138px;
	background: #E1DDDD;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	transition: background 1s ease-in;
}

.header_text_below_line:after {
	display: block;
  	content: '';
	width: 30px;
	height: 2px;
	transform: rotate(205deg);
	margin-left: 110px;
	margin-top: -6px;
  	border-right: 2px solid #E1DDDD;
  	border-bottom: 2px solid #E1DDDD;
  	-webkit-border-radius: 0 0 100px 0;
  	-moz-border-radius: 0 0 100px 0;
  	border-radius: 0 0 100px 0;
  	transition: border-right 1s ease-in;
  	transition: border-bottom 1s ease-in;
}

.header_text_below_button_wrap:hover .header_text_button a {
	color: black;
}

/*
.header_text_below_button_wrap:hover .header_text_below_ellipse {
	background: #E1DDDD;
}*/

.header_text_below_button_wrap:hover .header_text_below_line {
	background: #FCFF00;
}

.header_text_below_button_wrap:hover .header_text_below_line:after {
  	border-right: 2px solid #FCFF00;
  	border-bottom: 2px solid #FCFF00;
}
/*Кнопка с кружком и линией-конец*/

.header_icons {
	display: flex;
	flex-direction: column;
}

.header_icons a {
	padding: 30px 0;
}

.header_icons_mobile {display: none;}

/*О нас*/

.info {
	width: 100vw;
	height: 100vh;
}

.info_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
}

.info_header_pre-line, .info_header_post-line  {
	width: 670px;
	height: 1px;
	border: 1px solid rgba(255, 250, 250, 0.49);
	margin: 0 10px;
}

.info_section_title {
	position: relative;
}

.info_section_title_block, .info_section_title_border {
	width: 240px;
	height: 100px;
}

.info_section_title_block {
	background: rgba(223, 223, 223, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info_section_title_border {
	position:absolute;
	top: -5px;
	left: -5px;
	border: 1px solid #868383;
	box-sizing: border-box;
}

.info_section_title_block p {
	font-size: 60px;
	color: #E1DDDD;
	padding-right: 10px;
	padding-top: 10px;
}

.info_body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.info_body_cards_wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info_body_cards {
	display: flex;
	flex-direction: row;
}

.info_body_card {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 729px;
	height: 280px;
}

.info_body_card_text {
	display: flex;
	flex-direction: column;
}

.info_body_title p {
	padding-top: 31px;
	padding-bottom: 31px;
	font-size: 55px;
}

.info_body_title p, h2, h3, .info_body_card_text {
	color: #E1DDDD;
}

h2 {
	padding-top: 30px;
	font-size: 110px;
	margin-right: 45px;
}

h3 {
	font-size: 35px;
}

.info_body_card_text {
	font-size: 25px;
}

.info_body_button_wrap {
	position: relative;
	font-size: 25px;
}

.info_body_ellipse {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #FCFF00;
	position: absolute;
	bottom: 9px;
	left: -10px;
	z-index: -1;
	transition: background 1s ease-in;
}

.info_body_button {
	width: 231px;
	height: 40px;
	background: transparent !important;
	border: none;
	font-size: 25px;
	color: #E1DDDD;
	transition: color 1s ease-in;
	text-decoration: none;
}

.info_body_line {
	height: 2px;
	width: 159px;
	background: #E1DDDD;
	position: absolute;
	bottom: 0;
	right: -25px;
	margin-bottom: 5px;
	transition: background 1s ease-in;
}

.info_body_line:after {
	display: block;
  	content: '';
	width: 30px;
	height: 2px;
	transform: rotate(205deg);
	margin-left: 131px;
	margin-top: -6px;
  	border-right: 2px solid #E1DDDD;
  	border-bottom: 2px solid #E1DDDD;
  	-webkit-border-radius: 0 0 100px 0;
  	-moz-border-radius: 0 0 100px 0;
  	border-radius: 0 0 100px 0;
  	transition: border-right 1s ease-in;
  	transition: border-bottom 1s ease-in;
}

.info_body_button_wrap:hover .info_body_button {
	color: #FCFF00;
}

.info_body_button_wrap:hover .info_body_ellipse {
	background: #E1DDDD;
}

.info_body_button_wrap:hover .info_body_line {
	background: #FCFF00;
}

.info_body_button_wrap:hover .info_body_line:after {
  	border-right: 2px solid #FCFF00;
  	border-bottom: 2px solid #FCFF00;
}

.info_modal_dialog {
	max-width: 1720px;
}

.info_modal_content {
	background: rgba(0, 0, 0, 0.8);
	z-index: -2;
}

.info_modal_body {
	display: flex;
	flex-direction: row;
	justify-content: baseline;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	z-index: -2;
}

.info_modal_text_right_contacts a, .info_modal_text_left p, 
.info_modal_text_right p, h4, .info_modal_body_button_wrap button a {
	text-decoration: none;
	color: #EBE6E6;
}

.info_modal_body_button_wrap {
	position: relative;
	font-size: 25px;
}

.info_modal_body_ellipse {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #FCFF00;
	position: absolute;
	bottom: 5px;
	left: 5px;
	z-index: -1;
	transition: background 1s ease-in;
}

.info_modal_body_button {
	width: 275px;
	height: 40px;
	background: transparent !important;
	border: none;
}

.info_modal_body_button a {
	font-size: 25px;
	color: #E1DDDD;
	transition: color 1s ease-in;
	text-decoration: none;
}

.info_modal_body_line {
	height: 2px;
	width: 159px;
	background: #E1DDDD;
	position: absolute;
	bottom: -10px;
	right: -25px;
	margin-bottom: 5px;
	transition: background 1s ease-in;
}

.info_modal_body_line:after {
	display: block;
  	content: '';
	width: 30px;
	height: 2px;
	transform: rotate(205deg);
	margin-left: 131px;
	margin-top: -6px;
  	border-right: 2px solid #E1DDDD;
  	border-bottom: 2px solid #E1DDDD;
  	-webkit-border-radius: 0 0 100px 0;
  	-moz-border-radius: 0 0 100px 0;
  	border-radius: 0 0 100px 0;
  	transition: border-right 1s ease-in;
  	transition: border-bottom 1s ease-in;
}

.info_modal_body_button_wrap:hover .info_modal_body_button a {
	color: #FCFF00;
}

.info_modal_body_button_wrap:hover .info_modal_body_ellipse {
	background: #E1DDDD;
}

.info_modal_body_button_wrap:hover .info_modal_body_line {
	background: #FCFF00;
}

.info_modal_body_button_wrap:hover .info_modal_body_line:after {
  	border-right: 2px solid #FCFF00;
  	border-bottom: 2px solid #FCFF00;
}

.info_modal_body {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.info_modal_text_left, .info_modal_text_right {
	display: flex;
	flex-direction: column;
}

.info_modal_text_left {
	align-items: center;
	padding: 30px 100px;
}

h4 {
	font-size: 40px;
}

.info_modal_text_left p {
	font-size: 30px;
	margin-top: 47px;
}

.info_modal_text_right {
	align-items: baseline;
}

.info_modal_text_right_contacts {
	margin-left: 20px;
	margin-top: 30px;
}

.info_modal_text_right_contacts img {
	margin-right: 20px;
}

.info_modal_text_right_contacts a {
	font-size: 35px;
	transition: color 1s ease-in
}

.info_modal_text_right p {
	padding: 30px 0;
	font-size: 30px;
}

.info_modal_text_right_contacts a:hover {
	color: #FCFF00;
}

/*Услуги*/

.services_mobile {display: none;}

.mobile_services_header {display: none;}

.services {
	width: 100vw;
	height: 100vh;
}

.services_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
}

.services_header_pre-line, .services_header_post-line  {
	width: 570px;
	height: 1px;
	border: 1px solid rgba(255, 250, 250, 0.49);
	margin: 0 10px;
}

.services_section_title {
	position: relative;
}

.services_section_title_block, .services_section_title_border {
	width: 478px;
	height: 100px;
}

.services_section_title_block {
	background: rgba(223, 223, 223, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services_section_title_border {
	position:absolute;
	top: -5px;
	left: -5px;
	border: 1px solid #868383;
	box-sizing: border-box;
}

.services_section_title_block p {
	font-size: 60px;
	color: #E1DDDD;
	padding-right: 10px;
	padding-top: 10px;
}

/*Галерея услуг*/

.services_gallery_controls {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-top: 59px;
	position: relative;
}

.services_gallery_controls ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

.services_gallery_controls ul li {
	display: block;
	width: 228px;
	cursor: pointer;
	font-size: 25px;
	color: #E1DDDD;
}

.services_gallery_controls .active {
	border: 1px solid #868383;
	border-bottom: 1px solid #121111;
}

.services_gallery_controls_line {
	width: 100vw;
	height: 1px;
	background: #868383;
	position: absolute;
	bottom: 15px;
}

.services_gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services_slide {
	margin-top: 59px;
	flex-direction: row;
	justify-content: space-evenly;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
	display:flex;
}

h1, .services_gallery_text span, .services_gallery_text ul li p {
	color: #E1DDDD;
}

h1 {
	font-size: 35px;
	margin-bottom: 40px;
}

.services_gallery_text span {
	font-size: 30px;
}

.services_gallery_text ul {
	margin-top: 35px;
	margin-bottom: 35px;
	list-style-type: none;
}

.services_gallery_text ul li {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.services_gallery_text ul li p {
	font-size: 24px;
}

.services_gallery_text_ellipse {
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	border: 4px solid rgba(251, 254, 10, 0.9);
	box-sizing: border-box;
	margin-right: 15px;
}

.btn-services, .services_gallery_button_border {
	width: 486px;
	height: 108px;
}

.btn-services {
	position: relative;
	cursor: pointer;
	margin-left: 300px;
	background: rgba(223, 223, 223, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #E1DDDD;
	padding-right: 10px;
	transition: background 1s ease-in, color 1s ease-in;
}

.services_gallery_button_border {
	position:absolute;
	left: -10px;
	bottom: 5px;
	border: 1px solid #868383;
	box-sizing: border-box;
	pointer-events: none;
}

.btn-services:hover {
	background: #FCFF00;
	color: black;
}


/*services modal*/

.services_modal_header {
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
}

.services_modal_header_title {
	font-size: 30px;
	color: #D1D1D1;
}

.services_modal_body {
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
}

.services_modal_form_body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.services_modal_select select, .services_modal_form_body input,textarea {
	width: 400px;
	background-color: transparent;
	margin-bottom: 30px;
	color: #D1D1D1;
}

.services_modal_form_body input {
	border-bottom: 1px solid #F5F5F5;
	border-top: none;
	border-left: none;
	border-right: none;
}

.services_modal_form_body textarea {
	border: 1px solid #AAAAAA;
	box-sizing: border-box;
}

.services_modal_form_body p {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
	margin-left: 100px;
	color: #D1D1D1;
}

.services_modal_form_body p a {
	font-size: 14px;
	color: #D1D1D1;
	text-decoration: none;
}

option {
	background: black;
}

.services_modal_thanks {
	margin-bottom: 30px;
	position: relative;
}

.services_modal_thanks span {
	text-align: center;
	font-size: 20px;
	color: #D1D1D1;
}

.services_modal_thanks_line {
	height: 2px;
	width: 391px;
	background: #E1DDDD;
	position: absolute;
	bottom: -10px;
	left: -35px;
	margin-bottom: 5px;
	transition: background 1s ease-in;
}

.services_modal_thanks_line:before {
	display: block;
  	content: '';
	width: 87px;
	height: 2px;
	transform: rotate(270deg);
	margin-left: -43px;
	margin-top: -43px;
  	border-right: 2px solid #E1DDDD;
  	border-bottom: 2px solid #E1DDDD;
  	-webkit-border-radius: 0 0 100px 0;
  	-moz-border-radius: 0 0 100px 0;
  	border-radius: 0 0 100px 0;
  	transition: border-right 1s ease-in;
  	transition: border-bottom 1s ease-in;
}

.services_modal_form_body_button {
	width: 192px !important;
	height: 46px !important;
	border: 1px solid #AAAAAA !important;
	box-sizing: border-box !important;
	margin-left: 210px;
}

.services_modal_form_body_button:hover {
	background: #A1A1A1;
}


/*Проекты/портфолио*/

.projects {
	width: 100vw;
	height: 100vh;
}

.projects_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
}

.projects_header_pre-line, .projects_header_post-line  {
	width: 570px;
	height: 1px;
	border: 1px solid rgba(255, 250, 250, 0.49);
	margin: 0 10px;
}

.projects_section_title {
	position: relative;
}

.projects_section_title_block, .projects_section_title_border {
	width: 478px;
	height: 100px;
}

.projects_section_title_block {
	background: rgba(223, 223, 223, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects_section_title_border {
	position:absolute;
	top: -5px;
	left: -5px;
	border: 1px solid #868383;
	box-sizing: border-box;
}

.projects_section_title_block p {
	font-size: 60px;
	color: #E1DDDD;
	padding-right: 10px;
	padding-top: 10px;
}

.projects_header_text {
	margin-top: 20px;
	margin-right: 280px;
	margin-bottom: 20px;
}

.projects_header_text p {
	font-size: 32px;
	color: rgba(225, 221, 221, 0.86);
	text-align: right;
}

#projects_slider {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.projects_controls_inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style-type: none;
	padding-left: 40px;
}

.projects_controls_inner li {
	display: block;
	width: 401px;
	height: 75px;
	cursor: pointer;
	font-size: 50px;
	color: #4D4C4C;
	margin-bottom: 10px;
}

.projects_controls_inner li:first-child {
	font-family: 'Great Vibes';
}

.projects_controls_inner li:nth-child(2) {
	font-family: 'Abril Fatface';
}

.projects_controls_inner li:nth-child(3) {
	font-family: 'Russo One';
}

.projects_controls_inner li:nth-child(4) {
	font-family: 'Black Ops One';
}

.projects_controls_inner li:last-child {
	font-family: 'DM Serif Text';
}

.projects_controls_inner li.active {
	color: #E1DDDD;
}

.project_slides {
	width: 1200px;
	margin-left: 50px;
}

.project_slide.active {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.project_slide {
	flex-direction: column;
	align-items: baseline;
}

h6 {
	font-size: 28px;
	color: #E1DDDD;
}

.project_slide p {
	font-size: 20px;
	color: #E1DDDD;
}

/*Процесс создания сайтов*/

.process {
	width: 100vw;
	height: 100vh;
}

.process_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
}

.process_header_pre-line, .process_header_post-line  {
	width: 300px;
	height: 1px;
	border: 1px solid rgba(255, 250, 250, 0.49);
	margin: 0 10px;
}

.process_section_title {
	position: relative;
}

.process_section_title_block, .process_section_title_border {
	width: 1002px;
	height: 100px;
}

.process_section_title_block {
	background: rgba(223, 223, 223, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.process_section_title_border {
	position:absolute;
	top: -5px;
	left: -5px;
	border: 1px solid #868383;
	box-sizing: border-box;
}

.process_section_title_block p {
	font-size: 60px;
	color: #E1DDDD;
	padding-right: 10px;
	padding-top: 10px;
}

#process_slider {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 100px;
}

.process_controls_inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style-type: none;
	padding-left: 40px;
}

.process_controls_inner li {
	display: block;
	width: 438px;
	height: 75px;
	cursor: pointer;
	font-size: 51px;
	color: #E1DDDD;
	margin-bottom: 10px;
}

.process_controls_inner li:hover {
	color: #E8EB0E;
}

.process_controls_inner li.active {
	color: #E8EB0E;
	text-shadow: 4px 4px 15px #818181;
}

.process_slides {
	width: 1200px;
	height: 689px;
}

.process_slide.active {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.process_slide {
	flex-direction: row;
	justify-content: center;
}

.process_slide_ellipse {
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	border: 4px solid rgba(251, 254, 10, 0.9);
	box-sizing: border-box;
	margin-right: 20px;
}

.process_slide_text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.process_slide_text ul li {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.process_slide_text_header {
	font-size: 46px;
	color: #E1DDDD;
}

.process_slide_text_sub {
	font-size: 30px;
	color: #E1DDDD;
}

.process_slide_text ul li p, .process_slide_text_2 {
	font-size: 27px;
	color: #E1DDDD;
}

/*Обслуживание сайтов*/

.maintenance {
	width: 100vw;
	height: 100vh;
}

.maintenance_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
}

.maintenance_header_pre-line, .maintenance_header_post-line  {
	width: 450px;
	height: 1px;
	border: 1px solid rgba(255, 250, 250, 0.49);
	margin: 0 10px;
}

.maintenance_section_title {
	position: relative;
}

.maintenance_section_title_block, .maintenance_section_title_border {
	width: 676px;
	height: 100px;
}

.maintenance_section_title_block {
	background: rgba(223, 223, 223, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.maintenance_section_title_border {
	position:absolute;
	top: -5px;
	left: -5px;
	border: 1px solid #868383;
	box-sizing: border-box;
}

.maintenance_section_title_block p {
	font-size: 60px;
	color: #E1DDDD;
	padding-right: 10px;
	padding-top: 10px;
}

.maintenance_main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 38px;
}

.maintenance_text_wrap {
	margin-left: 40px;
}

.maintenance_text_wrap ul li {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.maintenance_text_ellipse {
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	border: 3px solid rgba(251, 254, 10, 0.9);
	box-sizing: border-box;
	margin-top: 8px;
	margin-right: 20px;
}

.maintenance_text_header, .maintenance_text_sub, 
.maintenance_text_wrap ul li p, .maintenance_btn_wrap p {
	color: #E1DDDD;
}

.maintenance_text_header {
	font-size: 45px;
}

.maintenance_text_sub, .maintenance_text_wrap ul li p {
	font-size: 31px;
}


.maintenance_btn_wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.maintenance_btn_line {
	width: 30px;
	height: 1px;
	border: 1px solid rgba(255, 250, 250, 0.49);
	margin-left: 20px;
}

.maintenance_btn_wrap p {
	font-size: 25px;
	text-decoration-line: underline;
	margin-left: 15px;
	margin-top: 5px;
}

.maintenance_btn, .maintenance_btn_border {
	width: 478px;
	height: 100px;
	margin-top: 10px;
}

.maintenance_btn {
	position: relative;
	cursor: pointer;
	margin-left: 300px;
	background: rgba(223, 223, 223, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #E1DDDD;
	padding-right: 10px;
	transition: background 1s ease-in, color 1s ease-in;
}

.maintenance_btn_border {
	position:absolute;
	left: -10px;
	bottom: 5px;
	border: 1px solid #868383;
	box-sizing: border-box;
	pointer-events: none;
}

.maintenance_btn:hover {
	background: #FCFF00;
	color: black;
}

/*Контактная форма*/

.contact {
	width: 100vw;
	height: 100vh;
	position: relative;
	margin-top: 60px;
}

.contact_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
}

.contact_header_pre-line, .contact_header_post-line  {
	width: 596px;
	height: 1px;
	border: 1px solid rgba(255, 250, 250, 0.49);
	margin: 0 10px;
}

.contact_section_title {
	position: relative;
}

.contact_section_title_block, .contact_section_title_border {
	width: 571px;
	height: 100px;
}

.contact_section_title_block {
	background: rgba(223, 223, 223, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact_section_title_border {
	position:absolute;
	top: -5px;
	left: -5px;
	border: 1px solid #868383;
	box-sizing: border-box;
}

.contact_section_title_block p {
	font-size: 60px;
	color: #E1DDDD;
	padding-right: 10px;
	padding-top: 10px;
}

.contact_main {
	margin-top: 82px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-left: 50px;
	margin-right: 50px;
}

.contact_main_form {
	margin-right: 50px;
}

.contact_form_input {
	position: relative;
	width: 526px;
	height: 93px;
	background: url(../img/formfield.png);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #E1DDDD;
	padding-left: 10px;
	outline: none;
	border:none;
	margin-bottom: 30px;
}

.contact_btn {
	position: relative;
	width: 256px;
	height: 75px;
}

.contact_form_button {
	width: 256px;
	height: 95px;
	background: url(../img/formbtn.png) no-repeat;
	background-size: cover;
	outline: none;
	border:none;
	margin-left: 150px;
}

.contact_icon {
	position: absolute;
	left: 240px;
	bottom: 10px;
}

.contact_text p {
	font-size: 50px;
	color: #D2CECE;
}

.contact_img {
	position: absolute;
	bottom: 0;
	left: 0;
}

.contact_img img {
	width: 100%;
}

.img-svg {
	pointer-events:none;

}

.contact_btn:hover .img-svg path {
	fill:yellow;
}


/* 404 */

.main_404 {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
}

.img_404 {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.img_404 a {
	width: 290px;
	height: 30px;
	font-size: 30px;
	color: #E1DDDD;
}

.img_404 a:hover {
	color: yellow;
}

.mobile_contacts {display: none;}
.mobile_form {display: none;}