@media screen and (max-width: 420px) {

/*Главная*/

	.header_modal_form_body input,textarea {
		width: 250px;
	}

	.header_modal_form_body p {
		margin-left: 20px;
		font-size: 10px;
	}

	.header_modal_form_body p a {
		font-size: 10px;
	}

	.header_modal_form_body_button {
		margin-left: 50px;
	}

	.header-body {
		margin-top: 20%;
		height: 400px;
	}

	.header_text {
		width: 250px;
	}

	.header_text_line {
		width: 250px;
	}

	h1 {
		font-size: 12px;
	}

	.header_text_below {
		font-size: 8px;
	}

/*Контакты/Мобильная версия*/

	.info_modal_body_ellipse {
		width: 30px;
		height: 30px;
		border-radius: 15px;
		top: 8px;
	}

	.info_modal_body_button {
		width: 200px;
		height: 30px;
	}

	.info_modal_body_button a {
		font-size: 18px;
	}
	
}