@media screen and (min-width: 1366px) and (max-width: 1919px) {
	
	.popover {
		max-width: 800px;
		font-size: 20px;
	}

	.popover-body {
		padding: 20px 10px;
	}

	section {
		margin-top: 60px;
	}

	/*Главная*/

	.header_icons_mobile {display: none;}

	.header_body {
		margin-top: 60px;
	}

	.header_menu_line {
		height: 350px;
	}

	.header_menu ul li a {
		font-size: 25px;
		line-height: 30px;
	}

	.header_text_line {
		width: 800px;
	}

	h1 {
		font-size: 30px;
	}

	.header_text_below {
		font-size: 15px;
		width: 800px;
	}

	/*О нас*/

	.info_header_pre-line, .info_header_post-line {
		width: 450px;
	}

	h2 {
	padding-top: 10px;
	font-size: 80px;
	margin-right: 25px;
	}

	h3 {
		font-size: 20px;
	}

	.info_body_card_text {
		font-size: 15px;
	}

	.info_body_card {
		width: 429px;
		height: 180px;
	}

	.info_modal_dialog {
		max-width: 1100px;
	}

	h4 {
		font-size: 30px;
	}

	.info_modal_text_left p {
		font-size: 20px;
		margin-top: 37px;
	}

	.info_modal_text_right_contacts a {
		font-size: 25px;
		transition: color 1s ease-in
	}

	.info_modal_text_right p {
		padding: 20px 0;
		font-size: 20px;
	}

	/*Услуги*/

	.services_mobile {display: none;}

	.mobile_services_header {display: none;}

	.services_header_pre-line, .services_header_post-line  {
		width: 370px;
	}

	.services_gallery_controls {
		padding-top: 25px;
	}

	.services_slide {
		margin-top: 39px;
	}

	h1 {
		font-size: 25px;
		margin-bottom: 30px;
	}

	.services_gallery_text span {
		font-size: 20px;
	}

	.services_gallery_text ul li p {
		font-size: 14px;
	}

	.services_slide img {
		width: 50%;
	}

	.btn-services, .services_gallery_button_border {
		width: 286px;
		height: 58px;
	}

	.btn-services {
		margin-left: 100px;
		font-size: 17px;
	}

	/*Проекты*/

	.projects_header_pre-line, .projects_header_post-line {
		width: 350px;
	}

	.projects_controls_inner li {
		font-size: 40px;
		width: 351px;
		height: 55px;
	}

	.projects_header_text {
		margin-top: 10px;
		margin-right: 180px;
	}

	.projects_header_text p {
		font-size: 22px;
	}

	.project_slides {
		width: 900px;
	}

	.project_slide img {
		width: 90%;
	}

	h6 {
		font-size: 23px;
		color: #E1DDDD;
	}

	.project_slide p {
		font-size: 15px;
		color: #E1DDDD;
	}

	/*Создание сайтов*/

	.process_header_pre-line, .process_header_post-line {
		width: 110px;
	}

	#process_slider {
		margin-top: 80px;
	}

	.process_controls_inner li {
		width: 378px;
		height: 55px;
		font-size: 41px;
	}

	.process_slides {
		width: 900px;
	}

	.process_slide img {
		width: 40%;
	}

	.process_slide_ellipse {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		border: 3px solid rgba(251, 254, 10, 0.9);
		box-sizing: border-box;
		margin-right: 10px;
	}

	.process_slide_text_header {
		font-size: 36px;
	}

	.process_slide_text_sub{
		font-size: 20px;
	}

	.process_slide_text ul li p, .process_slide_text_2 {
		font-size: 17px;
	}

	/*Обслуживание сайтов*/

	.maintenance_header_pre-line, .maintenance_header_post-line {
		width: 250px;
	}

	.maintenance_text_header{
		font-size: 35px;
	}

	.maintenance_text_sub, .maintenance_text_wrap ul li p {
		font-size: 17px;
	}

	.maintenance_btn {
		width: 273px;
		height: 58px;
	}

	.maintenance_btn_border {
		width: 273px;
		height: 58px;
	}

	.maintenance_btn {
		margin-left: 100px;
		font-size: 17px;
	}

	.maintenance_btn_border {
		left: -10px;
	}

	.maintenance_btn_wrap p {
		font-size: 15px;
	}

	.maintenance img {
		width: 40%;
	}

	.maintenance_btn_line {
		width: 20px;
	}

	/*Контактная форма*/

	.contact_header_pre-line, .contact_header_post-line {
		width: 300px;
	}

	.contact_text p {
		font-size: 30px;
	}

	.contact_form_input {
		width: 426px;
		height: 73px;
	}

	.contact_form_button  {
		margin-left: 80px;
	}

	.contact_icon {
		left: 170px;
	}

	.contact_img img {
		width: 70%;
	}

	.mobile_contacts {display: none;}
	.mobile_form {display: none;}
}